.header_img {
    width: 100%;
}
.footer_img {
    width: 100%;
}
.main {
    height: auto;
}
.btn_dveri_kupe {
    width: 351.50px;
    height: 300px;
    background-color: rgb(237,237,237);
    border: none;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
}
.block {
    margin: 0 auto;
    width: 85%;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
}
.title {
    color: rgba(59,60,67);
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.dveri_img {
    width: 227px !important;
    object-fit: cover;
}
.kuh_img {
    width: 75% !important;
    height: 209.5px !important;
    object-fit: cover;
    overflow: hidden;
}
.fas_img {
    width: 302px !important;
    height: 184.5px !important;
    object-fit: cover;
    overflow: hidden;
}
.ras_img {
    width: 283.5px !important;
    height: 182px !important;
    object-fit: cover;
    overflow: hidden;
}
.btn_dveri_kupe:hover .dveri_img {
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
}
.btn_dveri_kupe:hover .kuh_img {
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
}
.btn_dveri_kupe:hover .fas_img {
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
}
.btn_dveri_kupe:hover .ras_img {
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
}
.btn_submit {
    position: absolute;
    bottom: -50px;
    left: 50%;
    width: 160px;
    height: 43.5px;
    margin: 0 auto;
    border: none;
    background-color: rgba(59,60,67,0.7);
    color: #fff;
    border-radius: 16px;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    text-align: center;
    align-content: center;
}

.btn_dveri_kupe:hover .btn_submit {
    opacity: 1;
    bottom: 20px;
    background-color: rgba(59,60,67,0.7);
}
.btn_dveri_kupe:hover .btn_submit:hover {
    background-color: rgba(59,60,67,0.9);
}
.btn_dveri_kupe:hover .text {
    opacity: 1;
}
.dveri-2_img {
    width: 102% !important;
    height: 300px !important;
    object-fit: cover;
}
.kuh-2_img {
    width: 102% !important;
    height: 300px !important;
    object-fit: cover;
    overflow: hidden;
}
.fas-2_img {
    width: 102% !important;
    height: 300px !important;
    object-fit: cover;
    overflow: hidden;
}
.ras-2_img {
    width: 102% !important;
    height: 300px !important;
    object-fit: cover;
    overflow: hidden;
}
.btn_dveri_kupe:hover .dveri-2_img {
    filter: brightness(60%);
    transition: 0.4s;
}
.btn_dveri_kupe:hover .kuh-2_img {
    filter: brightness(60%);
    transition: 0.4s;
}
.btn_dveri_kupe:hover .fas-2_img {
    filter: brightness(60%);
    transition: 0.4s;
}
.btn_dveri_kupe:hover .ras-2_img {
    filter: brightness(60%);
    transition: 0.4s;
}
.title-2 {
    color: rgba(59,60,67);
    font-size: 31px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    margin: 0;
    letter-spacing: 1px;
    margin-bottom: 15px;
    position: absolute;
    bottom: -18px;
    width: 100%;
    color: #fff;
    height: 67px;
    background-color: rgba(178,178,178,0.7);
}
.btn_dveri_kupe:hover .title-2 {
    opacity: 0;
}
.text {
    opacity: 0;
    font-size: 23px;
    position: absolute;
    bottom: 20%;
    top: 5%;
    right: 5%;
    left: 12%;
    text-align: start;
    color: #fff;
    transition: 0.3s;
}
.btn_submit-2 {
    position: absolute;
    bottom: -50px;
    left: 50%;
    width: 160px;
    height: 43.5px;
    margin: 0 auto;
    border: none;
    background-color: rgba(178,178,178,0.7);
    color: #fff;
    border-radius: 16px;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    text-align: center;
    align-content: center;
}
.btn_dveri_kupe:hover .btn_submit-2 {
    opacity: 1;
    bottom: 20px;
    background-color: rgba(178,178,178,0.7);
}
.btn_dveri_kupe:hover .btn_submit-2:hover {
    background-color: rgba(178,178,178,0.9);
}